.community-card {
  max-width: 325px;
  height: 390px;
  border-radius: 12px;
  display: flex;
  border: 1px solid #eee;
  background: #fff;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  box-shadow: 0 0 20px -5px #00000020;
  z-index: -1;
}

.community-card-images {
  position: relative;
}
.community-card-images-cover {
  width: 100%;
  height: 15rem;
  object-position: top;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.community-card-images-wave {
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.community-card-meta {
  padding: 5px 15px;
}

.community-card-links {
  margin-top: 10px;
  padding: 0 15px 10px 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.community-card-link {
  font-size: 18px;
  color: #555 !important;
}

.community-card-link,
.community-card-link:hover {
  text-decoration: none;
  color: #444;
}

.community-card-meta-name {
  font-weight: 600;
  color: #404040;
  font-size: 20px;
  margin-bottom: 3px;
}

.community-card-meta-description {
  color: #888;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
}

@media only screen and (max-width: 694px) {
  .community-card {
    height: 420px;
  }
}
