.header {
  height: 64px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.1s linear;
  box-shadow: 0 -30px 20px -5px #00000022;
  justify-content: center;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 999;
}

.header-border {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 20px -5px #00000022;
}

.header-logo-container {
  width: 85%;
  display: flex;
}

.header-logo {
  height: 33px;
  margin-top: 5px;
  object-fit: contain;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    margin: auto;
  }
}

.headerStyle {
  border: 1px solid #eee;
}
