.header {
  height: 64px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #eee; */
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
}

.header-logo-container {
  width: 85%;
  display: flex;
}

.header-logo {
  height: 33px;
  margin-top: 5px;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    margin: auto;
  }
}

.headerStyle {
  border: 1px solid #eee;
}
